@import 'tailwindcss/tailwind.css';

.card-members {
  overflow-x: hidden; /* Hide overflow if necessary */
  width: max-content; 
}
.animation_layer{
  /* transform: translateY(25%); */
  z-index: 10;
}
.mmm{
  transform: translateX(110vw);
  width:fit-content;
	display:flex;
	flex-wrap:nowrap;
}

.events-top{
  /* border: solid; */
  width: 90%;
  height: 400px;
  border-radius: 100px;
  background: linear-gradient(45deg, #4285F4, #DB4437, #F4B400, #0F9D58);
  /* background: linear-gradient(45deg, #4285F4, #3367D6, #4B7BEC, #0F9D58); */
  /* background:linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335); */
  background-size: 300% 300%;
  animation: gradient 4s ease infinite;
  display:flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }
  


